body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
}

#main {
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
  width: 100%;
}

#nav {
}

.heading {
  font-size: 1.3rem;
  margin-top: 8px;
  margin-bottom: 2px;
  padding: 4px 8px 0px 8px;
  background-color: rgba(176, 217, 255, 0.644);
  border: 1px solid rgb(100,100,100);
  border-radius: 4px 4px 0px 0px;
}
