

#about {
  border: 1px solid #2C2C2C;;
  margin: 16px;
  display: flex;
  flex-flow: row nowrap;
  max-width: 800px;
}

#about-img {
  background-color: #afafaf;
  width: 100%;
  margin-right: 8px;
  border-right: 2px solid #2C2C2C;
}

#about-desc {
  color: #2C2C2C;
  padding: 8px;
}

#about-header {
  font-weight: 600;
  text-decoration: underline 2px rgb(255, 232, 184);
}

#incentives {
  /* border: 2px solid #2C2C2C; */
  margin: 16px;
  display: flex;
  flex-flow: column nowrap;
  max-width: 800px;
}

.incentive-header {
  /* background-color: #2C2C2C; */
  color: #2C2C2C;
  border-bottom: 1px solid #2C2C2C;
  text-align: center;
  font-size: 1.5rem;
}

.incentive-button {
  text-align: center;
  border: 1px solid #2C2C2C;
  border-radius: 4px;
  margin: 4px;
  font-size: 1.25rem;
}

.incentive-button:hover {
  border: 1px solid rgb(255, 232, 184);
  cursor: pointer;
}