

#about {
  border: 1px solid #2C2C2C;;
  margin: 16px;
  margin-bottom: 0px;
  display: flex;
  flex-flow: row nowrap;
  max-width: 800px;
  background-color: white;
  filter: drop-shadow(-8px 8px 8px #2c2c2c69);
  margin-top: 56px;
}

#about-img {
  background-color: #2C2C2C;
  width: 50%;
  margin-right: 8px;
  border-right: 1px solid #2C2C2C;
}

#headshot {
  width: 100%;
}

#about-desc {
  color: #2C2C2C;
  padding: 8px;
  align-self: center;
}

#about-header {
  font-weight: 600;
  text-decoration: underline 2px rgb(255, 232, 184);
}

.legend {
  background: none !important;
  cursor: pointer;
  background-color: rgba(0, 255, 255, 0.452) !important;
  border: 2px solid red;
  z-index: 20;
  height: 100% !important;
  width: 100% !important;
  left: 0 !important;
  bottom: 0 !important;
  margin-left: 0px !important;
  margin-bottom: 0px !important;
}

.legend-label {

}

.legend-btn {

}
