.listing {
  display: flex;
  flex-flow: row nowrap;

}
.listing:not(.listing-header):hover   {
  cursor: pointer;
  color: white;
  background-color: black;
}

.listing-field {
  padding: 0px 2px;
  border: 1px solid grey;
}