/* High levels */
#listings-container {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  width: 100%;
  padding: 0px 0px;
  margin-top: 24px;
}

#listings-subcontainer {
  display: flex;
  flex-flow: row nowrap;
}

/* Action bar */
#listings-action-bar {
  display: flex;
  flex-flow: row nowrap;
  border: 1px solid #2c2c2c;
  width: 100%;
}

#add-listing {
  background-color: rgba(240, 248, 255, 0.15);
  backdrop-filter: blur(30px);
}

#filter-listings {
  background-color: rgba(240, 248, 255, 0.15);
  backdrop-filter: blur(30px);
}

/* Listings */
#listings-wrapper {
  width: 100%;
}

#listings {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  max-height: calc(40% - 24px);
  overflow: scroll;
}

.listing-header div {
  font-weight: 500;
}

.listing {
  width: 30%;
  color: rgb(100, 100, 100);
  border: 1px solid #2c2c2c;
  padding: 8px;
  margin: 8px;
}

.listing:hover   {
  cursor: pointer;
}

.listing-field {
  /* padding: 0px 2px; */
}

