#listings-wrapper {
  width: 100%;
  max-height: 100%;
  padding: 0px 12px;
  /* backdrop-filter: blur(6px); */
}

#listings {
  background-color: rgb(255, 255, 255);
  border: 1px solid grey;
}

.listing-header div {
  border-bottom: 3px solid rgb(100, 100, 100);
  border-left: 1px solid rgb(100, 100, 100);
  font-weight: 500;
}

.listing {
  color: rgb(100, 100, 100);
  border-bottom: 1px solid rgb(100, 100, 100);
}

.listing:hover   {
  cursor: pointer;
  color: rgb(120, 172, 224);
  font-weight: bold;
}

.listing-field {
  padding: 0px 2px;
  border-left: 1px solid rgb(100, 100, 100);
}

#add-listing {
  background-color: rgba(240, 248, 255, 0.15);
  backdrop-filter: blur(30px);
}

#filter-listings {
  background-color: rgba(240, 248, 255, 0.15);
  backdrop-filter: blur(30px);
}

