#nav {
  display: flex;
  flex-direction: row;
  padding: 12px;
  cursor: pointer;
  background-color: #2C2C2C;
}

#nav-logo {
  margin-right: 16px;
}

#nav > p {
  margin: 0px 8px;
  color: white;
}

#nav > p:hover {
  cursor: pointer;
  color: rgb(255, 232, 184);
}
