#tools {
  margin-top: 62px;
  display: flex;
  flex-flow: column nowrap;
}

#tool-type {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.tool-type-btn {
  background-color: #2C2C2C;
  border: 1px solid #2C2C2C;
  margin: 0px 4px;
  padding: 4px 16px;
  text-align: center;
  color: white;
  border-radius: 4px;
}
.tool-type-btn:hover {
  /* color: rgb(255, 232, 184); */
  cursor: pointer;
  border-right: 1px solid rgb(255, 232, 184);
  border-left: 1px solid rgb(255, 232, 184);
}

#tools-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.tool-item {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  background-color: #2C2C2C;
  border: 1px solid #2C2C2C;
  border-radius: 4px;
  margin: 4px 8px;
  width: 256px;
  height: 256px;
  color: white;
  text-align: center;
  transition: 200ms;
  cursor: pointer;
}

.tool-item:hover .tool-item-image svg {
  filter: drop-shadow(-1px 0px 0px rgba(255, 233, 184, 1));
}

.tool-item:hover .tool-item-image {
  border-bottom: 1px solid rgb(255, 232, 184);
}

.tool-item:hover .tool-item-desc {
  border-top: 1px solid rgb(255, 232, 184);
}

.tool-item:hover .tool-item-title {
}

.tool-item:hover .tool-item-btn {
  border: 1px solid rgb(255, 232, 184);
  /* color: rgb(255, 232, 184); */
}

.tool-item:hover .tool-item-btn svg {
  opacity: 100%;
}

.tool-item-image {
  display: flex;
  height: 100%;
  width: 100%;
  transition: 200ms;
  justify-content: center;
  align-items: center;
  background-image: url("../Static/connectwork.png");
  background-color: #2C2C2C;
  background-size: 40%;
  background-repeat: repeat;
  backdrop-filter: blur(4px);
  border-bottom: 1px solid white;
}

.tool-item-body {
  border-top: 2px solid #2C2C2C;
  transition: 200ms;
  padding: 4px;
}

.tool-item-image > svg {
  transition: 400ms;
  stroke: rgb(235, 235, 235);
  fill: rgb(44, 39, 27);
  transform: scale(5);
  stroke-width: 8px;
  filter: drop-shadow(-1px 0px 1px rgb(255, 232, 184));
}

.tool-item-title {
  margin-bottom: 4px;
}

.tool-item-desc {
  border-top: 1px solid white;
  padding-bottom: 4px;
  padding: 0px 8px;
  padding-bottom: 8px;
  font-weight: lighter;
}

.tool-item-btn {
  background-color: rgb(31, 31, 31);
  border: 1px solid rgb(17, 17, 17);
  border-radius: 2px;
  padding: 4px 0px;
  transition: 400ms;
}

.tool-item-btn:hover {
  border: 1px solid rgb(255, 232, 184);
}

.tool-item-btn > span {
  margin-right: 4px;
}

.tool-item-btn > svg {
  transform: scale(1.4);
  transition: 400ms;
  stroke: #2C2C2C;
  stroke-width: 18px;
  opacity: 100%;
  /* stroke: rgb(255, 232, 184); */
}

.tool-item-btn:hover > svg {
  stroke-width: 18px;
}

/* @media only screen and (min-width: 768px) {
  #tools {
    margin-top: 8vh;
    width: 100%;
  }
  .tool-type-btn {
    font-size: 2rem;
    padding: 16px 32px;
  }
  #tools-container {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    width: 100%;
  }
  .tool-item {
    width: 60%;
    height: 28vh;
    font-size: 2rem;
    margin-top: 16px;
  }
} */